.bundle/
log/*.log
pkg/
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache
test/rails/dummy/log/*.log
test/rails/dummy/tmp/
test/rails/dummy/.sass-cache
test/rails/dummy/db/test.sqlite3
test/rails/dummy/test/fixtures/

.DS_Store

TODO.md

test/rails/dummy/test/fixtures/users.yml
